<!DOCTYPE htmlimagen>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\styler.css">

    <!-- txt_Stily -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
        </style>
    <!--------------->

    <title>Recomiendo</title>
</head>
<body>
    <div class="content">    
        <h1 class="titulo">Aficionado al cine</h1>
        <form method="POST" >

            <input type="text" name="peli" placeholder="Escriba una pelicula que le guste">
            <button type="submit" ><img class="imagen" src="static\imagen\buscar.png" alt="Buscar"></button>
        </form>
    </div>

    {% if recomendacion %}
    <div class="recomendation">
        <h2>Recomendaciones:</h2>
        <ul>
            {% for pelicula in recomendacion %}
                <li>{{ pelicula }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>